@{
    Layout = "_Layout";
}

<body>
    <h1>Hair Salon!</h1>


    @Html.ActionLink("See Clients", "Index", "Clients", null, new { @class = "btn btn-dark btn-large"})<br>
    
    @Html.ActionLink("See Stylists", "Index", "Stylists", null, new { @class = "btn btn-dark btn-large" })<br>
</body>