body {
    background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  
  .title {
    background: rgba(83, 83, 83, 0.39);
    text-align: center;
    color: white;
    margin-top: 300px;
  }
  
  .title h1 {
    font-size: 120px;
    font-family: 'Sulphur Point', sans-serif;
  }
  
  .buttons {
    text-align: center;
    font-size: 50px;
    font-family: 'Sulphur Point', sans-serif;
  }
  
  .clients {
    display: inline-block;
  }
  
  .center {
    text-align: auto;
    margin-top: 300px;
  }
  
  #StylistList {
    color: beige;
  }